[irc]

# Which server to connect to?
server          = uk.blitzed.org
nick            = Enoch

# "Real name" field
realname        = Metatron - https://github.com/bitfolk/enoch

# Password for the above nickname in services. The bot will connect to the IRC
# server using this password and will also use it to identify to services when
# asked.
pass            = highly_secret_phrase

# User mode to set once connected
umode           = -x

# What nickname should we expect challenges to identify to our nick to come
# from?
ns_nick         = NickServ

# Regular expression for a message/notify received from ns_nick that tells us
# we need to identify ourselves
ns_challenge_re = ^(This nickname is registered|Please identify via)

# List of bot "admin" nicknames. Note that admins must be identified to
# NickServ to be listened to, and it is the NickServ account which is checked
# here.
admin           = grifferz
admin           = Andy

[db]

# Type of database to use. Only MySQL supported at the moment.
type = mysql

host = localhost
user = enoch

# Database to use
db   = enoch

# Config sections that begin with '#' are IRC channels that we are interested
# in.
[#debug]

# Try to do a random quote every how many minutes? Omit or leave at 0 to
# disable.
quote_every     = 60

# Access level required for using the !quote and !aq commands. Defaults to "all". Valid settings:
#
# all        - Anyone may call up quotes (default)
# identified - Only those identified to a nickname may call up quotes
quote_access    = all

# Access level required for adding a new quote. Defaults to "identified". Valid settings:
#
# nobody     - No one is allowed to add quotes
# identified - Anyone identified to a nickname may add quotes (default)
# admins     - Only bot admins are allowed to add quotes
#
# It is ot possible to allow unidentified nicks to add quotes because we would
# be unable to associate them with a nickname.
addquote_access = identified
