[irc]

# Which server to connect to?
server          = uk.blitzed.org
nick            = Enoch

# "Real name" field
realname        = Metatron - https://github.com/bitfolk/enoch

# Password for the above nickname in services. The bot will connect to the IRC
# server using this password and will also use it to identify to services when
# asked.
pass            = highly_secret_phrase

# User mode to set once connected
umode           = -x

# What nickname should we expect challenges to identify to our nick to come
# from?
ns_nick         = NickServ

# Regular expression for a message/notify received from ns_nick that tells us
# we need to identify ourselves
ns_challenge_re = ^(This nickname is registered|Please identify via)

# List of bot "admin" nicknames. Note that admins must be identified to
# NickServ to be listened to, and it is the NickServ account which is checked
# here.
admin           = grifferz
admin           = Andy

[db]

# Type of database to use. Only MySQL supported at the moment.
type = mysql

host = localhost
user = enoch
pass = sekr1tDbpass

# Database to use
db   = enoch

# Config sections that begin with '#' are IRC channels that we are interested
# in.
[#debug]

# Is this channel enabled? By default "yes"; set to "no" to make the bot leave.
enabled          = yes

# Try to do a random quote every how many minutes? Omit or leave at 0 to
# disable.
quote_every      = 60

# Only do a random quote if there has been activity within the last how many
# minutes? Prevents the bot filling a quiet channel's logs with automatic
# quotes. Defaults to 30 minutes.
need_activity_in = 30

# Access level required for adding a new quote. Defaults to "identified". Valid settings:
#
# identified - Anyone identified to a nickname may add quotes (default)
# admins     - Only bot admins are allowed to add quotes
# nobody     - No one is allowed to add quotes
#
# It is not possible to allow unidentified nicks to add quotes because we would
# be unable to associate them with a nickname.
addquote_access  = identified

# Access level rquired for deleting an existing quote. Defaults to "admins". Valid settings:
#
# admins - Only bot admins are allowed to delete this channel's qoutes.
# nobody - No one is allowed to delete this channel's qoutes.

# Default quote rating. The rating assigned to newly-added quotes before anyone
# has rated them. Must be between 1 and 10 inclusive. Defaults to 5. Can only
# affect qoutes added after it was changed.
def_rating       = 5
